#! /usr/bin/env python
#*  All rights reserved.
#*/*
# * PeopleTrackingMht.cfg
# *
# *      Created on: 2013 by Ely Repiso and published first as her TFC on 13/12/2013. Last Modified by Ely Repiso on 2025 (migration to ros-Noetic and in the middle of ros2- humble migration) 
# *      Author: Ely Repiso (from 2013 and currently).
# *      Furthermore, this code is a modification and extension extracted from the theory of the open source papers of Donald Reid IEEE Transaction on Automatic Control 1979 and Kai Oliver Arras ICRA2008. We never had their code, therefore, we implemented this code from scratch, only taking inspiration from their articles.
# *      License (for other authors that will not be the original one): CC BY-NC-ND 4.0 
# *      (Attribution-NonCommercial-#NoDerivatives 4.0 International)
# *       https://creativecommons.org/licenses/by-nc-nd/4.0/deed.en
# *      This license does not allow other authors to modify or to take profit from these works. 
# *      Then, for #modifications or derivative works, please contact ely.repiso@upc.edu to try to agree on 
# *  collaborations (for #journals with other researchers, formal collaborations between UPC and companies, and so on).
# *
# * Please, to use it cite: Vaquero, Victor, et al. "Low cost, robust and real time system for detecting and tracking moving objects to automate cargo handling in port terminals." Robot 2015: Second Iberian Robotics Conference: Advances in Robotics, Volume 2. Cham: Springer International Publishing, 2015.
# */
#*  Redistribution and use in source and binary forms, without
#*  modification, are permitted provided that the following conditions
#*  are met:
#*
#*   * Redistributions of source code must retain the above copyright
#*     notice, this list of conditions and the following disclaimer.
#*   * Redistributions in binary form must reproduce the above
#*     copyright notice, this list of conditions and the following
#*     disclaimer in the documentation and/or other materials provided
#*     with the distribution.
#*   * Neither the name of the Willow Garage nor the names of its
#*     contributors may be used to endorse or promote products derived
#*     from this software without specific prior written permission.
#*   * Additionally, remember that the derivatives without collaboration 
#*     Of the original authors are prohibited
#*
#*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
#*  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
#*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
#*  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
#*  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
#*  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
#*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#*  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
#*  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
#*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
#*  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
#*  POSSIBILITY OF SUCH DAMAGE.
#***********************************************************

# Author: 

PACKAGE='iri_people_tracking_mht'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#       Name                       Type       Reconfiguration level            Description                       Default   Min   Max
#gen.add("velocity_scale_factor",  double_t,  0,                               "Maximum velocity scale factor",  0.5,      0.0,  1.0)
gen.add("max_dist_to_detect_people_conf",  double_t,  0, "threshold to detect people and track them",         60.0,  0.0,  60.0)

gen.add("frame_id",                str_t,     0, "frame to transform poses to", "/map")
gen.add("local_tracker",           bool_t,    0, "enable local tracker", True)
gen.add("association_threshold",   double_t,  0, "distance association threshold", 2,    0.0,  5.0)
gen.add("confirmation_threshold",  double_t,  0, "confirmation threshold",         0.9,  0.0,  1.0)
gen.add("deletion_threshold",      double_t,  0, "deletion threshold",             0.4,  0.0,  1.0)
gen.add("laser_probability",       double_t,  0, "laser detection probability",    0.9,  0.0,  1.0)
gen.add("laser_false_alarm",       double_t,  0, "laser false alarm probability",  0.1,  0.0,  1.0)
gen.add("laser_new_track",         double_t,  0, "laser new track probability",    0.11, 0.0,  1.0)
gen.add("laser_no_detection",      double_t,  0, "laser no detection probability", 0.99,  0.0,  1.0)
gen.add("laser_no_confirmed",      double_t,  0, "laser no confirmed probability", 0.02, 0.0,  1.0)
gen.add("laser_no_confirmed_iteration", double_t,  0, "laser no confirmed iteration probability", 0.01, 0.0,  1.0)
gen.add("augment_covariance_track", double_t,  0, "augment covariance track when not have detection asociated", 0.15, 0.0,  5.0)
gen.add("mht_velocity_margin", double_t,  0, "velocity matgin to update well kalman states of the tracks", 0.1, 0.0,  5.0)
gen.add("covariance_no_track_conf", double_t,  0, "limit for the covariance to delete the track", 20.0, 0.0,  50.0)


gen.add("id_markers",      bool_t,  0, "enable id markers output", True)
gen.add("cov_markers",     bool_t,  0, "enable covariance markers output", True)
gen.add("cov_markers_head",     bool_t,  0, "enable covariance markers (head) output", False)
gen.add("cov_markers_arm1",     bool_t,  0, "enable covariance markers (arm1) output", False)
gen.add("cov_markers_arm2",     bool_t,  0, "enable covariance markers (arm2) output", False)
gen.add("vel_markers",     bool_t,  0, "enable velocity markers output", True)
gen.add("covdet_markers",  bool_t,  1, "enable covariance of detections markers output", True)
gen.add("covpred_markers", bool_t,  0, "enable covariance of predictions markers output", False)
gen.add("id_cluster_markers",      bool_t,  0, "enable id clust markers output", False)
gen.add("clust_markers", bool_t,  0, "enable cluster markers output", False)
gen.add("group_markers", bool_t,  0, "enable group markers output", False)
gen.add("track_path", bool_t,  0, "enable group markers output", False)

gen.add("generate_database_companion", bool_t,  0, "enable group markers output", False)
gen.add("fuse_tibi_and_teo_tracks", bool_t,  0, "enable group markers output", False)
gen.add("debug_fuse_tibi_and_teo_tracks", bool_t,  0, "enable group markers output", False)


exit(gen.generate(PACKAGE, "PeopleTrackingMhtAlgorithm", "PeopleTrackingMht"))
