<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="ns"                 default="ana" />
  <arg name="output"             default="screen" />
  <arg name="scan_topic"         default="/$(arg ns)/sensors/scan"/>
  <arg name="map_topic"          default="/$(arg ns)/map"/>
  <arg name="tracks_topic"       default="/$(arg ns)/mht/tracks"/>
  <arg name="launch_prefix"      default="" />

  <include file="$(find iri_laser_people_detection)/launch/node.launch">
    <arg name="ns"            value="$(arg ns)" />
    <arg name="node_name"     value="lpd" />
    <arg name="config_file"   value="$(find iri_laser_people_detection)/config/params.yaml" />
    <arg name="output"        value="$(arg output)" />
    <arg name="launch_prefix" value="$(arg launch_prefix)" />
    <arg name="scan_topic"    value="$(arg scan_topic)"/>
    <arg name="people_topic"  value="/$(arg ns)/lpd/people"/>
    <arg name="markers_topic" value="/$(arg ns)/lpd/markers"/>
  </include>
  
  <include file="$(find iri_laser_people_map_filter)/launch/node.launch">
    <arg name="ns"            value="$(arg ns)" />
    <arg name="node_name"     value="lpmf" />
    <arg name="config_file"   value="$(find iri_laser_people_map_filter)/config/params.yaml" />
    <arg name="output"        value="$(arg output)" />
    <arg name="launch_prefix" value="$(arg launch_prefix)" />
    <arg name="map_topic"        value="$(arg map_topic)"/>
    <arg name="people_topic"     value="/$(arg ns)/lpd/people"/>
    <arg name="people_out_topic" value="/$(arg ns)/lpmf/people_filtered"/>
    <arg name="markers_topic"    value="/$(arg ns)/lpmf/markers"/>
  </include>
  
  <include file="$(find iri_people_tracking_mht)/launch/node.launch">
    <arg name="ns"            value="$(arg ns)" />
    <arg name="node_name"     value="mht" />
    <arg name="config_file"   value="$(find iri_people_tracking_mht)/config/params.yaml" />
    <arg name="output"        value="$(arg output)" />
    <arg name="launch_prefix" value="$(arg launch_prefix)" />
    <arg name="people_topic"     value="/$(arg ns)/lpmf/people_filtered"/>
    <arg name="people_out_topic" value="$(arg tracks_topic)"/>
    <arg name="markers_topic"    value="/$(arg ns)/mht/markers"/>
  </include>

</launch>
